@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

:root {
    --bg-color: #040918;
    --text-color: white;
    --grid-color: #091540;
    --first-color-bar-grid:hsl(226, 25%, 17%);
    --second-color-bar-grid:hsl(225, 23%, 24%);
    --btn-toggle-color:hsl(226, 11%, 37%);
    --btn-filter-color:hsl(3, 71%, 56%);
  }
  
  .light-theme{
    --bg-color: #EEF8F9;
    --grid-color: rgb(149, 236, 244);
    --text-color:black;
    --first-color-bar-grid:#F9F9F9;
    --second-color-bar-grid:#F9F9F9;
    --btn-color:hsl(217, 61%, 90%);
    --btn-filter-color:hsl(3, 77%, 44%);
}

  *{
    box-sizing: border-box;
  }
  
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Noto Sans', sans-serif;
  }

